doctype html
html
  head
    base(href="/")
    link(href="/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/angular-route/angular-route.js")
    script(src="/app.js")
    script(src="/config.js")
    script(src="/home.js")
    script(src="/nav.js")
    script(src="/auth.js")
    script(src="/people/people.js")
    script(src="/people/people.service.js")
    script(src="/people/people.ctrl.js")
    script(src="/things.js")
  body(ng-app="myWorld")
    my-world-nav(show-login-button="true")
        
    .container(style="padding: 10px 0")
      .div(ng-view)
      
    my-world-nav